* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  padding-right: 50px;
  padding-left: 30px;
  height: 80px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb (0,0,0);
  background-color: white;
  border: 1px solid blue;
  position: fixed;
  width: 95%;
  background-color: white;
  z-index: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: MediumAquamarine;
  margin-left: 10px;
  flex-grow: 1;
  border: 1px solid black;
}
.content {
  display: flex;
  position: relative;
  top: 80px;
  border: 1px solid black;
}
.news {
  display: flex;
  border: 1px solid black;
  margin: 0 10px;
}

.column {
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin: 20px 20px;
}
div {
  /* border: 1px solid red; */
}

.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}
.medium {
  width: 300px;
}
.small {
  width: 240px;
}
.image-content {
  display: block;
  background-image: url("../Images/img-story-main.png");
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.story {
  font-size: 17px;
  font-family: Georgia;
  margin-top: 16px;
  margin-bottom: 16px;
}
